<% if !current_user || current_user.client %>
  <div class="container d-flex flex-column justify-content-center text-center mt-4">
    <h1 class="my-4">We repair any product</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. At molestiae
      incidunt dolor, ea dolorem iure! Asperiores, similique corporis laborum
      necessitatibus iste, consectetur sequi sapiente repudiandae reprehenderit
      in doloremque obcaecati adipisci!
    </p>

    <div>
      <%= link_to "Request repair" , requests_new_path, class: "btn
        btn-primary w-50 my-4" %>
    </div>
  </div>

<% else %>
  <div class="container d-flex flex-column justify-content-center text-center mt-4">
    <h1 class="my-4">Bienvenido de nuevo, <span class="text-primary"><%= current_user.name %></span> </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. At molestiae
      incidunt dolor, ea dolorem iure! Asperiores, similique corporis laborum
      necessitatibus iste, consectetur sequi sapiente repudiandae reprehenderit
      in doloremque obcaecati adipisci!
    </p>

    <div>
      <%= link_to "Administration panel" , admin_path, class: "btn
        btn-success w-50 my-4" %>
    </div>
  </div>
<% end %>
