<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.name %>!</h1>
    <p>We regret to inform you that your repair request has been discarded</p>
  </body>
</html>